@model YouriPortfolio.Models.ViewModels.ProjectViewModel
@{
    ViewBag.Title = "ContentEdit";
}
<head>
    <script src="~/Scripts/jquery.wysibb.min.js"></script>
    <link href="~/Content/wbbtheme.css" rel="stylesheet" />
</head>
<script>
    $(document).ready(function () {
        var wbbOpt = {
            buttons: "bold,italic,underline,|,img,link,code"
        }
        $("#Project_ContentText").wysibb(wbbOpt);
    });
</script>


<h2>Project Edit Page</h2>
@using (Html.BeginForm("Edit", "Projects", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h3>Title</h3>
    @Html.EditorFor(model=>model.Project.Title)

    <h3>Short Description</h3>
    @Html.TextAreaFor(model => model.Project.ShortContent)

    <h3>Full Description</h3>
    @Html.TextAreaFor(model => model.Project.ContentText)
    
    <input type="submit" value="Save" class="btn btn-primary" />
}
<textarea>@Model.Project.ContentText</textarea>



