@using YouriPortfolio.Models
@model YouriPortfolio.Models.ViewModels.ProjectViewModel
@{
    ViewBag.Title = "ContentEdit";
}
<head>
    <script src="~/Scripts/jquery.wysibb.min.js"></script>
    <link href="~/Content/wbbtheme.css" rel="stylesheet" />
</head>
<script>
    $(document).ready(function () {
        var wbbOpt = {
            buttons: "bold,italic,underline,|,img,link,code"
        }
        $("#Project_ContentText").wysibb(wbbOpt);
        $("#Project_ShortContent").wysibb(wbbOpt);
    });
</script>

<script type="text/javascript">
    $(function () {
        if (window.FileReader != null) {
            $('#single').hide();
            $('.single').prop('disabled', true);
        } else {
            $('#multiple').hide();
            $('.multiple').prop('disabled', true);
        }
    });
</script>


<h2>Project Edit Page</h2>
@using (Html.BeginForm("Edit", "Projects", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Project.ID)
    <h3>Title</h3>
    @Html.EditorFor(model => model.Project.Title)

    <h3>Short Description</h3>
    @Html.TextAreaFor(model => model.Project.ShortContent, new { @style = "min-height:100px" })

    <h3>Full Description</h3>
    @Html.TextAreaFor(model => model.Project.ContentText, new { @style = "min-height:200px" })
    <input type="submit" value="Save" class="btn btn-primary" />
}



<h2>Visual content management</h2>

<div class="row">
    <div class="col-sm-6">
        <h3>Upload Visuals</h3>
        @using (Html.BeginForm("UploadMultiple", "Projects", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Project.ID)
            <div id="multiple">
                <input type="file" class="multiple" name="files" multiple />
            </div>
            <div id="single">
                <input type="file" class="single" name="files" /><br />
                <input type="file" class="single" name="files" /><br />
                <input type="file" class="single" name="files" /><br />
            </div>
            <br/>
            <button class="btn btn-success">Upload</button>
        }
    </div>
    <div class="col-sm-6">
        <h3>New Videos</h3>
        @using (Html.BeginForm("NewVideo", "Projects", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Project.ID)
            
            @Html.TextBoxFor(model=>model.PostVideo);

            <button class="btn btn-success">Upload</button>
        }
    </div>

</div>

<div class="row">
    
    <div class="col-sm-12">
        @using (Html.BeginForm("DeleteVisuals", "Projects", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Project.ID)
            <h3>Delete Visuals</h3>
            <br/>
            <br/>

            for (int i = 0; i < Model.Project.Visuals.Count; i++)
             {
                 <div class="col-md-3 col-xs-6 VisualBlock">
                     <div class=" text-center">

                         @Html.HiddenFor(model => model.Project.Visuals[i].ID)
                         @Html.CheckBoxFor(model => model.Project.Visuals[i].Selected)
                         <br/>
                         @if (Model.Project.Visuals[i].ContentType == Visual.ContentTypes.Photo)
                         {
                             <img src="@Model.Project.Visuals[i].Location"/>
                         }
                         else
                         {
                             <img src="//img.youtube.com/vi/@Model.Project.Visuals[i].Location/sddefault.jpg"/>
                         }
                     </div>
                 </div>
            }

            <button class="btn btn-danger">Upload</button>
        }
    </div>
</div>